* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
